

<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello Admin</strong> Anji added successfully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="card">
  <div class="card-body">
      <h5 class="card-title">Employee Add</h5>
    <form [formGroup]="emsAdd" (ngSubmit)="emsAddFunction()">
      <div class="row">
        <div class="form-group col-sm-3">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="Enter Username" formControlName="userName"
            [(ngModel)]="userName" [ngClass]="{ 'is-invalid': submitted && f?.userName?.errors }">
          <div *ngIf="submitted && f?.userName?.errors" class="invalid-feedback">
            <div *ngIf="f?.userName?.errors?.required">User Name is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label>Password</label>
          <input type="text" class="form-control" placeholder="Password" formControlName="password"
            [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }">
          <div *ngIf="submitted && f?.password?.errors" class="invalid-feedback">
            <div *ngIf="f?.password?.errors?.required">Password is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="retypePassword">Retype Password</label>
          <input type="text" class="form-control" formControlName="retypePassword" [(ngModel)]="retypePassword"
            placeholder="Retype Password">
        </div>
        <div class="form-group col-sm-3">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" formControlName="fullName" [(ngModel)]="fullName"
            placeholder="Full Name" [ngClass]="{ 'is-invalid': submitted && f?.fullName?.errors }">
          <div *ngIf="submitted && f?.fullName?.errors" class="invalid-feedback">
            <div *ngIf="f?.fullName?.errors?.required">Full Name is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="fullName">Blood Group</label>
          <div class="clearfix"></div>
          <div class="form-check form-check-inline" *ngFor="let cat of categories">
            <input class="form-check-input" (change)="bloodGroupChange('bloodGroup', $event)"
              name="{{ cat.bloodGroup }}" type="checkbox" id="{{cat.bloodGroup}}" value="{{ cat.bloodGroup }}">
            <label class="form-check-label" for="{{cat.bloodGroup}}">{{cat.bloodGroup}}</label>
          </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="fullName">Sex</label>
            <div class="clearfix"></div>
            <div class="form-check form-check-inline" *ngFor="let cat of sexCat">
              <input class="form-check-input" (change)="sexChange('sex', $event)"
                name="{{ cat.sex }}" type="checkbox" id="{{cat.sex}}" value="{{ cat.sex }}">
              <label class="form-check-label" for="{{cat.sex}}">{{cat.sex}}</label>
            </div>
          </div>

       
        <div class="form-group col-sm-3">
          <label for="nationality">Nationality</label>
          <div class="clearfix"></div>
          <label class="radio-inline">
            <input formControlName="nationality" [(ngModel)]="nationality" type="radio" value="indian"> Indian
          </label>
          <label class="radio-inline">
            <input formControlName="nationality" [(ngModel)]="nationality" type="radio" value="nri"> NRI
          </label>
        </div>
        <div class="form-group col-sm-3">
          <label for="martialStatus">Martial Status</label>
          <div class="clearfix"></div>
          <label class="radio-inline">
            <input formControlName="martialStatus" [(ngModel)]="martialStatus" type="radio" value="indian"> Married
          </label>
          <label class="radio-inline">
            <input formControlName="martialStatus" [(ngModel)]="martialStatus" type="radio" value="single"> Single
          </label>
        </div>
        <div class="form-group col-sm-3">
          <label>Date Of Birth</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" (click)="c.toggle()">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
              </div>
            </div>
            <input type="text" class="form-control" formControlName="dob" [(ngModel)]="dob" placeholder="Date of Birth"
              [ngClass]="{ 'is-invalid': submitted && f?.dob?.errors }" name="dp" ngbDatepicker #c="ngbDatepicker">
            <div *ngIf="submitted && f?.dob?.errors" class="invalid-feedback">
              <div *ngIf="f?.dob?.errors?.required">DOB is required</div>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-3">
            <label>Joining Date</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" (click)="d.toggle()">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" class="form-control" formControlName="joiningDate" [(ngModel)]="joiningDate" placeholder="Joining Date"
                [ngClass]="{ 'is-invalid': submitted && joiningDateFun?.joiningDate?.errors }" name="dp2" ngbDatepicker #d="ngbDatepicker">
              <div *ngIf="submitted && joiningDateFun?.joiningDate?.errors" class="invalid-feedback">
                <div *ngIf="joiningDateFun?.joiningDate?.errors?.required">Joining Date is required</div>
              </div>
            </div>
          </div>
        <!-- <div class="form-group col-sm-3">
          <label for="bloodGroup">Blood Group</label>
          <input type="text" class="form-control" formControlName="bloodGroup" [(ngModel)]="bloodGroup" placeholder="Blood Group" [ngClass]="{ 'is-invalid': submitted && f?.bloodGroup?.errors }">
          <div *ngIf="submitted && f?.bloodGroup?.errors" class="invalid-feedback">
            <div *ngIf="f?.bloodGroup?.errors?.required">User Name is required</div>
          </div>
         </div> -->
        <div class="form-group col-sm-3">
          <label for="contactNumber">Contact No</label>
          <input type="text" class="form-control" formControlName="contactNumber" mask="0000000000"
            [(ngModel)]="contactNumber" placeholder="Contact tNumber"
            [ngClass]="{ 'is-invalid': submitted && f?.contactNumber?.errors }">
          <div *ngIf="submitted && f?.contactNumber?.errors" class="invalid-feedback">
            <div *ngIf="f?.contactNumber?.errors?.required">Blood Group is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="personalEmail">Personal email</label>
          <input type="email" class="form-control" formControlName="personalEmail" [(ngModel)]="personalEmail"
            placeholder="Personal Email" [ngClass]="{ 'is-invalid': submitted && f?.personalEmail?.errors }">
          <div *ngIf="submitted && f?.personalEmail?.errors" class="invalid-feedback">
            <div *ngIf="f?.personalEmail?.errors?.required">Personal email is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="designation">Designation</label>
          <select class="form-control" formControlName="designation" [(ngModel)]="designation">
            <option selected>Software Engineer</option>
            <option>Tester</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="address">Address</label>
          <textarea class="form-control" [(ngModel)]="address" formControlName="address"
            [ngClass]="{ 'is-invalid': submitted && f?.address?.errors }"></textarea>
          <div *ngIf="submitted && f?.address?.errors" class="invalid-feedback">
            <div *ngIf="f?.address?.errors?.required">Address required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="city">City</label>
          <input type="text" class="form-control" [(ngModel)]="city" formControlName="city" placeholder="City"
            [ngClass]="{ 'is-invalid': submitted && f?.city?.errors }">
          <div *ngIf="submitted && f?.city?.errors" class="invalid-feedback">
            <div *ngIf="f?.city?.errors?.required">City is required</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="pinCode">Pincode</label>
          <input type="text" class="form-control" [(ngModel)]="pinCode" formControlName="pinCode" placeholder="PinCode"
            [ngClass]="{ 'is-invalid': submitted && f?.pinCode?.errors }">
          <div *ngIf="submitted && f?.pinCode?.errors" class="invalid-feedback">
            <div *ngIf="f?.pinCode?.errors?.required">Pincode is required</div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-sm-3">
          <label for="uploadPhoto">Upload Photo</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Photo</label>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="uploadResume">Upload Resume</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Resume</label>
          </div>
        </div>

       
      
          <div class="form-group col-sm-3">
            <label for="uploadResume">Policy Elgible</label>
            <div class="clearfix"></div>
            <ui-switch size="small" [(ngModel)]="policyElgible" [ngModelOptions]="{standalone: true}"></ui-switch>
          </div>
         
        
     
          <div class="form-group col-sm-3">
              <label for="uploadResume">Bonus</label>
              <div class="clearfix"></div>
            <ng5-slider   [(value)]="minValue" [(highValue)]="maxValue" [options]="options" ></ng5-slider>
          </div>
         
      
      </div>
      <div class="row">
        <div class="col-sm-1">
          <button type="submit" (click)="goEmsEdit()" class="btn btn-primary btn_bg" value="Sign up">Submit</button>
        </div>
      </div>
    </form>
    
   
  </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->
